<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Vue.js模板</title>
    <style>
        .pageOne {
            width: 300px;
            height: 300px;
            background-color: blueviolet;
        }

        .pageTwo {
            width: 300px;
            height: 300px;
            background-color: brown;
        }

        .button-active {
            border: none;
            background-color: chartreuse;
        }
    </style>
    <script src='./js/vue.js'></script>
    <script src="./js/vue-router.js"></script>
</head>

<body>
    <div id='app'>
        <!-- <input type="text" v-model="num1">
        <span>+</span>
        <input type="text" v-model="num2">
        <span>=</span>
        <input type="text" disabled v-model="res"> -->
        <router-link to="/one" tag="button">切换到第一个界面</router-link>
        <router-link to="/two" tag="button">切换到第二个界面</router-link>
        <router-view></router-view>
    </div>
    <template id="one">
        <div class="pageOne">
            <p>我是第一个界面</p>
        </div>
    </template>
    <template id="two">
        <div class="pageTwo">
            <p>我是第二个界面</p>
        </div>
    </template>
    <script>
        //  定义需要切换的组件
        const one = {
            template: "#one"
        }
        const two = {
            template: "#two"
        }
        // 定义切换的规则(定义路由规则)
        const routes = [
            // 路由重定向：设置默认界面时的hash值
            { path: '/one', component: one },
            { path: '/two', component: two }
        ];
        // 根据定义规则创建路由对象
        const router = new VueRouter({
            routes: routes,
            // 设置router-link激活时的类名
            linkActiveClass: "button-active"
        })
        let vue = new Vue({
            el: '#app',
            // 绑定路由对象
            router: router,
            data: {
                num1: 0,
                num2: 0,
                res: 0
            },
            methods: {

            },
            components: {
                "one": one,
                "two": two
            },
            // watch属性可以用于监听数据的变化
            watch: {
                // num1: function (newValue, oldVale) {
                //     this.res = parseInt(this.num1) + parseInt(this.num2);
                //     console.log(newValue, oldVale);
                // },
                // num2: function () {
                //     this.res = parseInt(this.num1) + parseInt(this.num2);
                // }

                // 监听路由的变化,可以用于判断当前页面是从哪一个页面跳转过来的
                "$route.path": function (newValue, oldVale) {
                    console.log(newValue, oldVale);
                }
            }
        });
    </script>
</body>

</html>