<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Vue.js模板</title>
    <script src='./js/vue.js'></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            width: 800px;
            margin: 50px auto;
        }

        table {
            width: 100%;
            color: darkblue;
            background-color: darkorange;
        }

        table tr {
            background-color: white;
        }

        form {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <!-- 此案例用到的基本指令：v-model，v-on与基本修饰符,v-bind,v-for -->
    <!-- 方法有：全局过滤器 -->
    <!-- 注意点：在Vue.js中，当Model部分数据更新时，View部分会自动更新 -->
    <div id='app'>
        <form v-show="isShow">
            <input type="text" placeholder="请输入序号" v-model="person.id">
            <input type="text" placeholder="请输入姓名" v-model="person.name">
            <input type="text" placeholder="请输入分数" v-model="person.score">
            <!-- 这里必须使用修饰符取消默认事件，不然在提交的一瞬间会刷新网页使添加内容消失 -->
            <input type="submit" value="新增" @click.prevent="add()">
            <input type="submit" value="查询" @click.prevent="query()">
        </form>
        <table>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>分数</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="(person,index) in persons">
                <td><input type="text" v-model="person.id" :disabled="isDisabled"></td>
                <td><input type="text" v-model="person.name" :disabled="isDisabled"></td>
                <td><input type="text" v-model="person.score" :disabled="isDisabled"></td>
                <td><input type="text" :value="person.date | dateFormart" disabled></td>
                <td>
                    <a href="#" @click.prevent="edit()">编辑</a>
                    <a href="#" @click.prevent="del(index)">删除</a>
                    <br>
                    <a href="#" @click.prevent="toggle()">更多操作</a>
                </td>
            </tr>
        </table>
    </div>
    <script>
        // 全局过滤器
        Vue.filter("dateFormart", function (value, fmStr) {
            let date = new Date(value);
            let year = date.getFullYear();
            let month = date.getMonth() + 1 + "";
            let day = date.getDate() + "";
            let hours = date.getHours() + "";
            let minute = date.getMinutes() + "";
            let second = date.getSeconds() + "";
            if (fmStr === "年-月-日") {
                return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
            }
            return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")} ${hours.padStart(2, "0")}:${minute.padStart(2, "0")}:${second.padStart(2, "0")}`;
        })
        let vue = new Vue({
            el: '#app',
            data: {
                isDisabled: true,
                isShow: false,
                persons: [
                    {
                        id: 1,
                        name: 'zs',
                        score: "99",
                        date: Date.now()
                    },
                    {
                        id: 2,
                        name: 'ls',
                        score: "88",
                        date: Date.now()
                    },
                    {
                        id: 3,
                        name: 'ww',
                        score: "66",
                        date: Date.now()
                    }
                ],
                person: {
                    id: '',
                    name: '',
                    score: ''
                }
            },
            methods: {
                'edit': function () {
                    this.isDisabled = !this.isDisabled;
                },
                'toggle': function () {
                    this.isShow = !this.isShow;
                },
                'del': function (index) {
                    this.persons.splice(index, 1);
                },
                'add': function () {
                    this.person.date = Date.now();
                    this.persons.push(this.person);
                    this.person = {
                        id: '',
                        name: '',
                        score: ''
                    }
                },
                'query': function () {
                    if (this.person.score != "") {
                        let newPersons = this.persons.filter((person) => {
                            if (this.person.score == person.score) {
                                return true;
                            }
                        })
                        // 注意点：在Vue.js中，当Model部分数据更新时，View部分会自动更新
                        this.persons = newPersons;
                    } else {
                        this.persons = [
                            {
                                id: 1,
                                name: 'zs',
                                score: "99",
                                date: Date.now()
                            },
                            {
                                id: 2,
                                name: 'ls',
                                score: "88",
                                date: Date.now()
                            },
                            {
                                id: 3,
                                name: 'ww',
                                score: "66",
                                date: Date.now()
                            }
                        ]
                    }


                }
            }
        });
    </script>
</body>

</html>