<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Vue.js模板</title>
    <script src='./js/vue.js'></script>
</head>

<body>
    <!-- v-for可以遍历：数组，字符串，数字，对象 -->
    <div id='app'>
        <ul>
            <!-- <li v-for="(value,index) in nameList">{{index}}==={{value}}</li> -->
            <!-- <li v-for="(value,index) in 'abcdefg'">{{index}}==={{value}}</li> -->
            <!-- <li v-for="(value,index) in 6">{{index}}==={{value}}</li> -->
            <!-- <li v-for="(value,index) in nameList">{{index}}==={{value}}</li> -->
            <!-- <li v-for="(value,key) in obj">{{value}}==={{key}}</li> -->
        </ul>
    </div>
    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                nameList: ['lmm', 'zs', 'ww', 'ls'],
                obj: {
                    age: 18,
                    name: "xxx",
                    gender: "male"
                }
            }
        });
    </script>
</body>

</html>