* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
    color: inherit;
}
li,ul {
    list-style: none;
}
button,input{
    font-family: inherit;
}
:focus {
    outline: none;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}   